{% extends "gestiondata/layout.html" %} {% block body %}
<h1>Simple Client</h1>
<h2>Create Simple Client</h2>
<input type="text" id="name" placeholder="name" />
<input type="text" id="phone" placeholder="phone" />
<input type="text" id="email" placeholder="email" />

<button onclick="createFC()">Create</button>
<br />
<h2>Update Simple Client</h2>
<input type="number" id="update-id" placeholder="Client Simple ID" />
<input type="text" id="update-name" placeholder="name" />
<input type="text" id="update-phone" placeholder="phone" />
<input type="text" id="update-email" placeholder="email" />

<button onclick="updateFC()">Update</button>

<br />
<h2>Delete Simple Client</h2>
<input type="number" id="delete-id" placeholder="Client Simple ID" />
<button onclick="deleteFC()">Delete</button>

<br />
<br />

<script>
  function createFC() {
    const data = {
      name: document.getElementById("name").value,
      phone: document.getElementById("phone").value,
      email: document.getElementById("email").value,
    };

    fetch("/gestiondata/api/etablissement_client_simple/", {
      method: "POST",
      headers: {
        "Content-Type": "application/json",
        "X-CSRFToken": "{{ csrf_token }}",
      },
      body: JSON.stringify(data),
    })
      .then((response) => response.json())
      .then((data) => {
        console.log(data);
      });
  }

  function updateFC() {
    const id = document.getElementById("update-id").value;
    const data = {
      name: document.getElementById("update-name").value,

      phone: document.getElementById("update-phone").value,
      email: document.getElementById("update-email").value,
    };

    fetch(`/gestiondata/api/etablissement_client_simple/${id}/`, {
      method: "PUT",
      headers: {
        "Content-Type": "application/json",
        "X-CSRFToken": "{{ csrf_token }}",
      },
      body: JSON.stringify(data),
    })
      .then((response) => response.json())
      .then((data) => {
        console.log(data);
      });
  }

  function deleteFC() {
    const id = document.getElementById("delete-id").value;

    if (!id) {
      alert("Please enter a valid ID", true);
      return;
    }

    fetch(`/gestiondata/api/etablissement_client_simple/${id}/`, {
      method: "DELETE",
      headers: {
        "Content-Type": "application/json",
        "X-CSRFToken": "{{ csrf_token }}",
      },
    })
      .then((response) => {
        if (response.status === 204) {
          // Handle no-content response
          alert("Fournisseur deleted successfully!");
          return { message: "Deleted successfully" };
        }
        return response.json(); // Only parse JSON if there's content
      })
      .then((data) => {
        if (data && data.message) {
          alert(data.message);
        }
      })
      .catch((error) => {
        alert("Error deleting fournisseur: " + error.message, true);
        console.error("Delete error:", error);
      });
  }
</script>

{% endblock %}
